input {
	kafka {
		bootstrap_servers => "localhost:9092"
		topics => ["anomaly11"]
	}
}
filter {
	csv {
		separator => ","
		columns => ["dt", "probability"]
	}
	date {
		match => ["dt", "yyyy-MM-dd HH:mm:ss"]
		target => "dt"
	}
	mutate {
		convert => {
			"probability" => "float"
		}
	}
}
output {
	elasticsearch {
		hosts => "http://localhost:9200"
		index => "search_anomaly_5"
	}
	stdout {}
}
