input {
	kafka {
		bootstrap_servers => "localhost:9092"
		topics => ["search11"]
	}
}
filter {
	csv {
		separator => ","
		columns => ["dt", "user_id", "neighbourhood", "room_type"]
	}
	date {
		match => ["dt", "yyyy-MM-dd'T'HH:mm:ss'Z'"]
	}
}
output {
	elasticsearch {
		hosts => "http://localhost:9200"
		index => "search11"
	}
	stdout {}
}
